<!DOCTYPE html>
  <head>
    <title>{{ title }}</title>
  </head>

  <body bgcolor="#0000ff">
    
    <table width="90%">
    
      <tr><td><center><font size="4" face="arial, helvetica" color="#ffffff">Time</font></td></tr>
      <tr><td><center><font size="11" face="arial, helvetica" color="#ffffff">{{ time }} </font></td></tr>
      
      <tr><td><center><font size="4" face="arial, helvetica" color="#ffffff">Temperature</font></td></tr>
      <tr><td><center><font size="11" face="arial, helvetica" color="#ffffff">{{ temperature }} F</font></td></tr>
      
      <tr><td>&nbsp</td>&nbsp</tr>
      <tr><td><center><font size="4" face="arial, helvetica" color="#ffffff">Pressure</font></td></tr>
      <tr><td><center><font size="11" face="arial, helvetica" color="#ffffff">{{ pressure }}</font></td></tr>
      
      <tr><td><center><font size="4" face="arial, helvetica" color="#ffffff">Humidity</font></td></tr>
      <tr><td><center><font size="11" face="arial, helvetica" color="#ffffff">{{ humidity }}</font></td></tr>
      
      <tr><td><center><font size="4" face="arial, helvetica" color="#ffffff">Light</font></td></tr>
      <tr><td><center><font size="11" face="arial, helvetica" color="#ffffff">{{ light }}</font></td></tr>
      
      <tr><td>&nbsp</td>&nbsp</tr>
      <tr><td><center><font size="4" face="arial, helvetica" color="#ffffff">Wind Speed (MPH)</font></td></tr>
      <tr><td><center><font size="11" face="arial, helvetica" color="#ffffff">{{ windspeed }}</font></td></tr>
      
      <tr><td><center><font size="4" face="arial, helvetica" color="#ffffff">Wind Direction (degrees)</font></td></tr>
      <tr><td><center><font size="11" face="arial, helvetica" color="#ffffff">{{ winddir }}</font></td></tr>
      
    </table>
    
  </body>
</html>
